extends layout

block content
  - const textColor = type == 'inflow' ? 'text-green' : 'text-red'
  - const title = type == 'inflow' ? 'Registrar Ingreso' : 'Registrar Egreso'

  h2.transaction-title(class=textColor)= title

  form.transaction(method='POST' action='/transaction' autocomplete='off' class=type)
    select.account(name='account' required)
      option(value='') --Seleccione una cuenta--
      each account, index in accounts
        option(value=index)= account
    select.category(name='category' required)
      option(value='') --Seleccione una categoría--
      each category, index in categories
        option(value=index)= category
    input.amount(type='number' name='amount' placeholder='Monto' min='1' step='any' required)
    input.note(type='text' name='note' placeholder='Nota')
    input(type='hidden' name='type' value=type)
    button.btn(type='submit') Registrar
