extends ../layout

block content
  h1.transactions-title Transacciones del mes de #{locals.h.getMonthName(new Date())}

  table.transactions-table
    thead
      tr
        th Día
        th Categoría
        th Monto

    tbody
      each transaction in transactions
        tr
          td.day-cell= transaction.createdAt.getDate()
          td.category-cell
            div
              span(class='icon-' + transaction.category.type)
              | !{' '}
              span=  transaction.category.description
            if transaction.note
              span= transaction.note
          td.text-end= locals.h.amountFormat(transaction.amount)
